{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--    这是图书信息-->
<article class="media content-section">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center" style="margin: 25px 5px 0 0">
                      <img src="{{ object.image.url }}" class="rounded" alt="Book Image">
                </div>
            </div>
            <div class="col-md-6">
                <br/>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>书名:</strong> {{ object.title }}</li>
                        <li class="list-group-item"><strong>作者:</strong> {{ object.author }}</li>
                        <li class="list-group-item"><strong>出版社:</strong> <br/><br/>{{ object.publisher }}</li>
                        <li class="list-group-item"><strong>相关链接:</strong> <br/><br/>{{ object.url }}</li>
                    </ul>
                <br/>
            </div>


            <div class="col-md-12">
                <br/>
                <hr/>
                <h5 class="article-title">描述</h5>
                <p class="article-content">{{ object.content|safe }}</p>

                <br/>
                <!-- 推荐图书 -->
                <hr/>
                <h5 class="article-title">猜你喜欢</h5>
                <br/>
                <article class="media content-section">
                    <a class="article-title" href="{% url 'book-detail' like1.id %}">{{ like1.title }}</a>
                </article>
				<article class="media content-section">
                    <a class="article-title" href="{% url 'book-detail' like2.id %}">{{ like2.title }}</a>
                </article>
				<article class="media content-section">
                    <a class="article-title" href="{% url 'book-detail' like3.id %}">{{ like3.title }}</a>
                </article>
				<article class="media content-section">
                    <a class="article-title" href="{% url 'book-detail' like4.id %}">{{ like4.title }}</a>
                </article>
            </div>
        </div>
    </div>
</article>
{% endblock %}
