{% extends "blog/base.html" %}
{% block content %}

    <form class="navbar-form navbar-left" method="get">
        <div class="form-group">
            {% csrf_token %}
            <input type="text" name="q" data-toggle="popover" class="form-control" value="{{ request.GET.q }}" placeholder="输入你感兴趣的图书……">
        </div>
        <button type="submit" class="btn btn-default">搜 索</button>
    </form>
    <br/>


    {% for object in object_list %}
        <article class="media content-section">
            <h5><a class="article-title" href="{% url 'book-detail' object.id %}">{{ object.title }}</a></h5>
        </article>
    {% endfor %}


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">首页</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">上一页</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">下一页</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">页尾</a>
      {% endif %}

    {% endif %}

{% endblock content %}
